<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="content" class="wp-block-group">
    <!-- wp:group {"backgroundColor":"base-2"} -->
    <div class="wp-block-group has-base-2-background-color has-background">
        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"level":1,"align":"wide"} -->
            <h1 class="alignwide">Page Not Found</h1>
            <!-- /wp:heading -->

            <!-- wp:group {"align":"wide","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"5px"}}}} -->
            <div class="wp-block-group alignwide" style="margin-top:5px">
                <!-- wp:paragraph -->
                <p>The page you are looking for does not exist, or it has been moved. </p>
                <!-- /wp:paragraph -->

                <!-- wp:search {"label":"Please try searching.","buttonText":"Search","buttonUseIcon":true} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->