<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="content" class="wp-block-group">
    <!-- wp:group {"backgroundColor":"base-2"} -->
    <div class="wp-block-group has-base-2-background-color has-background">
        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"level":1,"align":"wide"} -->
            <h1 class="alignwide">お探しのページが見つかりません。[404 Page Not Found]</h1>
            <!-- /wp:heading -->

            <!-- wp:group {"align":"wide","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"5px"}}}} -->
            <div class="wp-block-group alignwide" style="margin-top:5px">
                <!-- wp:paragraph -->
                <p>アクセスしたページはアドレスが変更されたか削除された可能性があります。</p>
                <!-- /wp:paragraph -->

                <!-- wp:search {"label":"キーワードで検索してみてください","buttonText":"検索","buttonUseIcon":true} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->