<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:group {"backgroundColor":"base-2"} -->
    <div class="wp-block-group has-base-2-background-color has-background">
        <!-- wp:post-title {"level":1,"align":"wide"} /-->
        <!-- wp:query {"query":{"pages":10,"offset":0,"postType":"post","order":"desc","orderBy":"date","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"constrained"}} -->
        <div class="wp-block-query alignwide">
            <!-- wp:post-template {"align":"wide"} -->
            <!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"clamp(15vw, 30vh, 400px)","align":"wide"} /-->
            <!-- wp:post-title {"isLink":true} /-->
            <!-- wp:post-excerpt /-->
            <!-- wp:post-date /-->

            <!-- wp:spacer {"height":"var(--wp--preset--spacing--s)"} -->
            <div style="height:var(--wp--preset--spacing--s)" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->
            <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->